/* Each product card */
.clothing-dynamic-page {
    width: 23%;      /* roughly 4 per row */
    margin: 1%;      /* space between cards */
    float: left;
margin-top: 10%;
    
      
    box-sizing: border-box;
}

/* Clear floats after rows */
section::after {
    content: "";
    display: block;
    clear: both;
}

a{
  text-decoration: none;
}

.card-body, 
.card-body .card-title, 
.card-body .card-title-center span, 
.card-body small span {
    color: black;
}

.card-title-center {
    display: flex;
    flex-direction: column; /* puts discountPrice above sellingPrice */
    align-items: center;     /* centers horizontally */
    text-align: center;

    margin-bottom: 10%;
}

/* Card styling */
.card-clothe-cate {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    text-align: center;
    padding: 10px;
}


.card-clothe-img {
      width: 100%;
    height: 250px;      
    object-fit: cover;   
    object-position: top; 
    display: block; 
  }

/* Responsive */
@media (max-width: 992px) {
    .clothing-dynamic-page {
        width: 48%;  /* 2 per row */
    }
}

@media (max-width: 600px) {
    .clothing-dynamic-page {
        width: 100%; /* 1 per row */
        margin: 0 0 20px 0;
    }
}
