/* clothing.css  */


.container { max-width: 1200px; margin: 0 auto; padding: 0 18px; } 

.best-seller-title{
  color:black;
  display: flex;
  justify-content: center;
  margin-top:100px ;

}

/* productpage */
.container-product-listing {
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  text-align: center;
}


/* Product card */
.container-product-listing article {
  /* border: 1px solid #ddd; */
  /* border-radius: 6px; */
  overflow: hidden;
  background: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.container-product-listing article:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

/* Product image */
.container-product-listing img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: top;
  /* display: block; */
}


/* Product info */
.product-meta {
  padding: 10px;
}


.brand {
  color: #888;
  font-size: 12px;
  text-transform: uppercase;
  margin: 4px 0;
}

.product-name {
  font-size: 16px;
  font-weight: bold;
  color: #222;
  margin: 4px 0;
}

.price {
  font-size: 15px;
  color: #000;
  margin: 8px 0;
  font-weight: 600;
}


nav {
  position: fixed;
  top: 3%;
  left: 0;
  background: transparent; 
  z-index: 1000;
}


nav ul li a {
    text-decoration: none;}
nav ul {
  display: flex;
  gap: 25px;
  align-items: center;

  padding: 20px;
  list-style: none;
  margin: 0;
}

.clothing-page nav ul li a {
  text-decoration: none;
  color:gray ;      
  font-weight: 500;
  font-size: 18px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ffcc00;
}


.logo {
  position: fixed;
  top: 3%;          
  left: 50%;
  transform: translateX(-50%);
  height: 30px;       
  z-index: 1001;
}


.login-icons{
    position:fixed;
    top:20px;
    right: 50px;
    z-index: 9999;
    
}

.login-icons img{
    width:30px;
    cursor:pointer;
}

