<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-page</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>

      <!-- <div class="navbar" th:fragment="navbarContent"></div> -->


      
    <div class="login-box"  th:fragment="loginContent" >
        <div class="login-header">
            <header>Login</header>
        </div>
        <div class="input-box">
            <input type="text" class="input-field" placeholder="Email" autocomplete="off"  required>
        </div>
           <div class="input-box">
            <input type="password" class="input-field" placeholder="password" autocomplete="off"  required>
        </div>
         
        <div class="forgot">
            <section>
                <input type="checkbox"  id="check">
                <label for="check">Remember me </label>
            </section>

            <section>
                <a href="#"> Forgot password </a>
            </section>
        </div>
        <div class="input-submit">
            <button class="submit-btn" id="submit">
                <label for="submit">Sign In </label>

            </button>

        </div>
        <div class="sign-up-link">
            <p> Don't have account?<a href="#"> Sign Up </a></p>
        </div>
    </div>
</body>
</html>