 <!DOCTYPE html>
 <html lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sale-Page</title>
       <link rel="stylesheet"  th:href="@{/css/style.css}">
          <link rel="stylesheet" th:href="@{/css/clothescategory.css}">
    <link rel="stylesheet"  th:href="@{/css/bagscategory.css}"> 

 </head>
 <body>
       <div class="navbar" th:replace="navbar :: navbarContent"></div>
   
    <div  class="clothing-dynamic-page" th:each="c : ${clothes}">
        <a th:href="@{/clothe-details/{id}(id=${c.id})}">
            <div class="card-clothe-cate">
                
                <img class="card-clothe-img" th:src="@{/admin/cloth/image/{id}(id=${c.id})}" alt="dress" />

               
                <div class="card-body">
                    <h5 class="card-title" th:text="${c.name}"></h5>
                    <div class="card-title-center">
                        <span th:text="${c.discountPrice}"></span>
                        <small><span th:text="${c.sellingPrice}"></span></small>
                    </div>
                </div>
            </div>
        </a>
    </div>








    
    <div class="bags-dynamic-page">
        <div th:each="b : ${bags}">
            <a th:href="@{/bags-details/{id}(id=${b.id})}">
                <div class="bags-card">
                    <img th:src="@{'/admin/cloth/image/' + ${b.id}}" alt="bag-Image" />
                    <div class="bags-body">
                        <h5 class="bags-title" th:text="${b.name}">name</h5>
                        <div class="bags-card-title-center">
                            <span th:text="${b.discountPrice}"></span>
                            <small>
                                <small th:text="${b.sellingPrice}"> price </small></small>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</body>

</body>
</html>